{% extends 'base.html'%}

{% block Titulo %}
Cadastro
{% endblock Titulo %}

{% block Conteudo %}
        <!-- Header-->
        <header class="bg-light py-1">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-dark">
                    <h1 class="display-4 fw-bolder">Cadastro</h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container">
                
                <form action="{% url 'cadastro' %}" method="POST">
                    {% csrf_token %}
                    <table class="table">
                        {{ form_cliente.as_table }}
                    </table>

                    <input type="submit" value="Enviar">
                </form>

            </div>
        </section>

{% endblock Conteudo %}